brainpy==2.4.1
brainpy_datasets==0.0.0.6
hdf5storage==0.1.19
jax==0.4.10
matplotlib==3.5.2
norse==1.0.0
numpy==1.22.3
pynvml==11.5.0
seaborn==0.11.2
snntorch==0.6.1
spikingjelly==0.0.0.0.14
torch==1.12.1
torchtoolbox==0.1.8.2
torchvision==0.13.1
tqdm==4.64.0
